{% extends "global/Page.html" %}

{% block title %}
    Teil 1: Schreibaufgabe
{% endblock %}

{% block content %}

<p style="text-align: justify;">Erinnern Sie sich bitte an ein bestimmtes Ereignis, bei dem Sie Macht über eine andere Person oder einer Gruppe von Personen hatten. Mit Macht meinen wir eine Situation, in der Sie in der Lage waren die Handlungen einer anderen Person oder mehrerer Personen zu kontrollierten bzw. ihr Verhalten zu beeinflussen. Bitte beschreiben Sie diese Situation, in der Sie Macht hatten. Was ist passiert, wie haben Sie sich gefühlt usw. </p>

    {{ formfields }}

{% endblock %}
